<article class="post">
  <div class="title">
    <h2>{{post.title}}</h2>
  </div>

  <div class="body">
    <p id="post-text">{{post.post_text}}<p>
  </div>

  <div class="meta">
    posted by {{post.user.username}} on
    {{format_date post.created_at}}
    |
    <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment"}}</a>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <label for="password-login">Add a comment:</label>
    <textarea name="comment-body"></textarea>
  </div>
  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments }}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}